In [3]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\madhunala
[nltk_data]     nikhil\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [5]:
print(stopwords.words('English'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

# Data Preposessing

In [11]:
news_dataset=pd.read_csv('fake-news/train.csv')

In [12]:
news_dataset.shape

(20800, 5)

In [13]:
news_dataset.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [14]:
news_dataset.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [15]:
news_dataset=news_dataset.fillna('')

In [16]:
news_dataset['content']=news_dataset["author"]+''+news_dataset['title']

In [17]:
news_dataset.head()

,id,title,author,text,label,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,Darrell LucusHouse Dem Aide: We Didn’t Even Se...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"Daniel J. FlynnFLYNN: Hillary Clinton, Big Wom..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Consortiumnews.comWhy the Truth Might Get You ...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Jessica Purkiss15 Civilians Killed In Single U...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Howard PortnoyIranian woman jailed for fiction...

In [18]:
X =news_dataset.drop(columns='label',axis=1)
Y=news_dataset['label']

In [19]:
X.head()

,id,title,author,text,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell LucusHouse Dem Aide: We Didn’t Even Se...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,"Daniel J. FlynnFLYNN: Hillary Clinton, Big Wom..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",Consortiumnews.comWhy the Truth Might Get You ...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,Jessica Purkiss15 Civilians Killed In Single U...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,Howard PortnoyIranian woman jailed for fiction...

In [20]:
Y.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [21]:
port_stem=PorterStemmer()

In [27]:
def stemming(content):
    stemmed_content=re.sub('[^a-zA-Z]',' ',content)
    stemmed_content=stemmed_content.lower()
    stemmed_content=stemmed_content.split()
    stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content=' '.join(stemmed_content)
    return stemmed_content

In [28]:
news_dataset['content']=news_dataset['content'].apply(stemming)

In [29]:
print(news_dataset['content'])

0        darrel lucush dem aid even see comey letter ja...
1        daniel j flynnflynn hillari clinton big woman ...
2                consortiumnew comwhi truth might get fire
3        jessica purkiss civilian kill singl us airstri...
4        howard portnoyiranian woman jail fiction unpub...
                               ...
20795    jerom hudsonrapp trump poster child white supr...
20796    benjamin hoffmann f l playoff schedul matchup ...
20797    michael j de la merc rachel abramsmaci said re...
20798    alex ansarynato russia hold parallel exerci ba...
20799                        david swansonwhat keep f aliv
Name: content, Length: 20800, dtype: object

In [31]:
X=news_dataset['content'].values
Y=news_dataset['label'].values

In [32]:
print(X)

['darrel lucush dem aid even see comey letter jason chaffetz tweet'
 'daniel j flynnflynn hillari clinton big woman campu breitbart'
 'consortiumnew comwhi truth might get fire' ...
 'michael j de la merc rachel abramsmaci said receiv takeov approach hudson bay new york time'
 'alex ansarynato russia hold parallel exerci balkan'
 'david swansonwhat keep f aliv']

In [33]:
print(Y)

[1 0 1 ... 0 1 1]

In [34]:
Y.shape

(20800,)

In [35]:
vectorizer=TfidfVectorizer()
vectorizer.fit(X)
X=vectorizer.transform(X)

In [36]:
print(X)

  (0, 26147)	0.28088379401596425
  (0, 22546)	0.2552336018069161
  (0, 14907)	0.43006226759639316
  (0, 14447)	0.29177259684200296
  (0, 12682)	0.24619727512767195
  (0, 7954)	0.23133661742488731
  (0, 6228)	0.2839932825877813
  (0, 5925)	0.35488202138141456
  (0, 4972)	0.2472595823572816
  (0, 4184)	0.3625320323150658
  (0, 571)	0.2694167078545385
  (1, 27718)	0.37204408227449065
  (1, 11225)	0.2434639969074374
  (1, 8697)	0.5300315426405939
  (1, 5872)	0.3206218375341294
  (1, 4736)	0.23523739119536424
  (1, 3835)	0.44601381123255807
  (1, 3257)	0.18800278047529806
  (1, 2600)	0.35911932371235855
  (2, 26042)	0.3665032495181434
  (2, 16242)	0.43295215406038445
  (2, 9376)	0.30743020569262086
  (2, 8492)	0.3411947414020896
  (2, 5201)	0.40440534260277944
  (2, 5086)	0.5511414848555652
  :	:
  (20797, 25585)	0.08238478292079332
  (20797, 25132)	0.31265699342765374
  (20797, 21914)	0.24957671032952272
  (20797, 20619)	0.27356419450274505
  (20797, 20335)	0.2505503073374905
  (20797, 17382)	0.08108427590144106
  (20797, 16197)	0.17884194212655086
  (20797, 16100)	0.32443301867098706
  (20797, 14002)	0.22812368546409545
  (20797, 11603)	0.29642771235112453
  (20797, 6043)	0.21300304381696528
  (20797, 2238)	0.3365241345432836
  (20797, 1235)	0.30790477382236864
  (20797, 72)	0.3891592401033212
  (20798, 21766)	0.2284042880065583
  (20798, 18621)	0.43981843518920394
  (20798, 11345)	0.3219420705942853
  (20798, 8025)	0.40266358130888547
  (20798, 1904)	0.43981843518920394
  (20798, 1069)	0.4638903157542853
  (20798, 689)	0.2827933658592677
  (20799, 24962)	0.6713314187498636
  (20799, 13228)	0.4138037375613909
  (20799, 5974)	0.345590335823275
  (20799, 724)	0.5085743925573473

In [38]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [39]:
model=LogisticRegression()

In [41]:
 model.fit(X_train, Y_train)

LogisticRegression()

In [43]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [46]:
print('training data accuracy:',training_data_accuracy)

training data accuracy: 0.971875

In [47]:
X_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [48]:
print('testing data accuracy:',testing_data_accuracy)

testing data accuracy: 0.9550480769230769

In [58]:
X_new = X_test[1]
prediction=model.predict(X_new)
print(prediction)
if(prediction):
    print('The news is Fake')
else:
    print('The news is Real')

[0]
The news is Real